<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
        <a href="/h444" target="cd"> 分类</a>
        <a href="/h22" target="cd">商品列表</a>
        <!-- <div class="content-right clearfix">
                    <div class="right">
                        <div id="list-div">
                            <table>
                                <tbody>
                                    <tr class="lk">
                                        <th>
                                            <input type="checkbox">
                                            <a href="javascript:;">编号</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">商品名称</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">货号</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">价格</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">上架</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">精品</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">新品</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">热销</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">推荐排序</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">库存</a>
                                        </th>
                                        <th>
                                            <a href="javascript:;">虚拟销量</a>
                                        </th>
                                        <th class="bt">
                                            <a href="javascript:;">操作</a>
                                        </th>
                                    </tr>                 
                                    <tr>
                                        <td>
                                            <input type="checkbox">
                                            <a href="javascript:;">150</a>
                                        </td>
                                        <td>
                                            <span class="commodityName">商品名称</span>
                                        </td>
                                        <td class="">
                                            <span>ECS000150</span>
                                        </td>
                                        <td>
                                            <span>0.99</span>
                                        </td>
                                        <td>
                                            <a href="#">X</a>
                                        </td>
                                        <td>
                                            <a href="#">√</a>
                                        </td>
                                        <td>
                                            <a href="#">√</a>
                                        </td>
                                        <td>
                                            <a href="#">√</a>
                                        </td>
                                        <td>
                                            <span>100</span>
                                        </td>
                                        <td>
                                            <span>1</span>
                                        </td>
                                        <td>
                                            <span>0</span>
                                        </td>
                                        <td class="bt">
                                            <a href="#" class="iconfont icon-sousuo tubiao" title="搜索"></a>
                                            <a href="#" class="iconfont icon-79 tubiao " title="编辑"></a>
                                            <a href="#" class="iconfont icon-qunfengfuzhi tubiao" title="复制"></a>
                                            <a href="#" class="iconfont icon-qunfengshanchuxian tubiao" title="删除" onclick="removeAjax()"></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div> -->
        <!-- 商品分类 -->
        <!-- <div id="commodity">
                    
                   <div class="add-goods">
                       <nav class="add-nav">
                           <ul>
                               <li>
                                   <a href="javascript:;" class="active">通用信息</a>
                               </li>
                                <li>
                                    <a href="javascript:;">详细描述</a>
                                </li>
                                <li>
                                    <a href="javascript:;">其他信息</a>
                                </li>
                                <li>
                                    <a href="javascript:;">商品属性</a>
                                </li>
                                <li>
                                    <a href="javascript:;">商品相册</a>
                                </li>
                                <li>
                                    <a href="javascript:;">配件</a>
                                </li>
                                <li>
                                    <a href="javascript:;">相关文章</a>
                                </li>
                           </ul>
                       </nav>
                    </div>
                    <div class="add-content">
                        <div class="add-content-top">
                            <ul>
                                <! 通用信息 -->
        <!-- <li class="bable bell">
                                    <ul class="add-content-left">
                                        <li>
                                            <span>商品名称：</span>
                                            <div class="add-left">
                                                <input type="text" class="pName">
                                            </div>
                                        </li>
                                        <li>
                                            <span>
                                                <i  class="iconfont icon-icon12-copy add-wenhao"></i>
                                                商品货号：
                                            </span>
                                            <div class="add-left">
                                                <input type="text" class="pCode"> 
                                                <p class="add-show">
                                                    如果您不输入商品货号，系统将自动生成一个唯一的货号
                                                </p>
                                            </div>
        
                                        </li> -->
        <!-- <li>
                                            <span>商品分类：</span>
                                            <div class="add-left">
                                                <div class="select">
                                                    <select>
                                                        <option value="value">hjfgj</option>
                                                        <option value="value">hjfgj</option>
                                                        <option value="value">hjfgj</option>
                                                        <option value="value">hjfgj</option>
                                                        <option value="value">hjfgj</option>
                                                    </select>
                                                </div>
                                                <div class="add-opction">
                                                    <a href="javascript:;" class="add-goods-class add-bc goods-show">添加分类</a>
                                                    <div class="add-opction-class">
                                                        <input type="text">
                                                        <a href="javascript:;" class="add-bc">确定</a>
                                                        <a href="javascript:;" class="add-bc">分类管理</a>
                                                        <a href="javascript:;" class="add-bc add-hide "><<</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <span>扩展分类：</span>
                                            <div class="add-left">
                                                <button class="btn">添加</button>
                                            </div>
                                        </li>
                                        <li>
                                            <span>商品品牌：</span>
                                            <div class="add-left">
                                                <select name="" id="">
                                                    <option value="">class</option>
                                                    <option value="">class</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li>
                                            <span>本店售价：</span>
                                            <div class="add-left">
                                                <input type="text" value="0" class="pPrice">
                                                <button>按市场价计算</button>
                                            </div>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="iconfont icon-icon12-copy add-wenhao"></i>
                                                会员价格：
                                            </span>
                                            <div class="add-left">
                                                注册用户-
                                                <input type="text" value="-1" class="inputL">
                                                代销用户
                                                <input type="text"  class="inputL" value="-1">
                                                vip 
                                                <input type="text"  class="inputL" value="-1">
                                                <p class="add-show">
                                                    会员价格为-1时表示会员价格按会员等级折扣率计算。你也可以为每个等级指定一个固定价格
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="iconfont icon-icon12-copy add-wenhao"></i>                                        
                                                商品优惠价格：
                                            </span>
                                            <div class="add-left">
                                                <a>[+]</a>优惠数量
                                                <input type="text" class="inputL">优惠价格
                                                <input type="text" class="inputL">
                                                <p class="add-show">
                                                 购买数量达到优惠数量时享受的优惠价格
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>市场销售：</span>
                                            <div class="add-left">
                                                <input type="text" value="0">
                                                <button>取整数</button>
                                            </div>
                                        </li>
                                        <li>
                                            <span>虚拟销量：</span>
                                            <div class="add-left">
                                                <input type="text" value="0">
                                            </div>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="iconfont icon-icon12-copy add-wenhao"></i>
                                                赠送消费积分数：
                                            </span>
                                            <div class="add-left">
                                                <input type="text" value="-1">
                                                <p class="add-show">
                                                    购买该商品时赠送消费积分数,-1表示按商品价格赠送
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="iconfont icon-icon12-copy add-wenhao"></i>                                        
                                                赠送等级积分数：
                                            </span>
                                            <div class="add-left">
                                                <input type="text" vlaue="-1">
                                                <p class="add-show">
                                                     购买该商品时赠送等级积分数,-1表示按商品价格赠送
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>
                                                <i class="iconfont icon-icon12-copy add-wenhao"></i>                                        
                                                积分购买金额：
                                            </span>
                                            <div class="add-left">
                                                <input type="text" vlaue="0">
                                                <p class="add-show">
                                                    (此处需填写金额)购买该商品时最多可以使用积分的金额
                                                </p>
                                            </div>
                                        </li>
                                        <li>
                                            <span>促销价：</span>
                                            <div class="add-left">
                                                <input type="text">
                                            </div>
                                        </li>
                                        <li>
                                            <span>促销日期：</span>
                                            <div class="add-left">
                                                <input type="text" value="2017-12-1">
                                                <button class="btn"> 选择</button>
                                                <input type="text" value="2018-1-30">-
                                                <button class="btn"> 选择</button>                                        
                                            </div>
                                        </li>
                                        <li>
                                            <span>上传商品图片：</span>
                                            <div class="add-left">
                                                <input type="file"><br/>
                                                <input type="text">
                                            </div>
                                        </li>
                                        <li style="margin-top:13px">
                                            <span>上传商品略缩图：</span>
                                            <div class="add-left">
                                                <input type="text">
                                            </div>
                                        </li>
                                        <li>
                                            <div class="btn-box">
                                                <button class="btn" onclick="subAjax()">确定</button>
                                                <button class="btn">重置</button>
                                            </div>
                                        
                                        </li>
        
                                    </ul>
                                </li> -->
        <!-- 详细描述 -->
        <!-- <li class="bable description">     
                                    <div >
                                        <textarea name="" id="" cols="100" rows="20"></textarea>
                                    </div>
                                </li> -->
        <!-- 其他信息 -->
        <!-- <li class="bable"> -->
        <!-- <div>
                                        <ul class="add-content-left">
                                            <li>
                                                <span>商品重量</span>
                                                <div class="add-left">
                                                    <input type="text">
                                                    <select name="" id="">
                                                        <option value="">千克</option>
                                                        <option value="">克</option>
                                                    </select>
                                                </div>
                                            </li>
                                            <li>
                                                <span>
                                                    <i class="iconfont icon-icon12-copy add-wenhao"></i>
                                                    商品库存数量：
                                                </span>
                                                <div class="add-left">
                                                    <input type="text">
                                                    <p class="add-show">库存在商品为虚货或商品存在货品时为不可编辑状态，库存数值取决于其虚货数量或货品数量</p>
                                                </div>
                                            </li>
                                            <li>
                                                <span>库存警告数量：</span>
                                                <div class="add-left">
                                                    <input type="text">
                                                </div>
                                            </li>
                                            <li>
                                                <span>加入推荐：</span>
                                                <div class="add-left">
                                                    <input type="checkbox" value="精品">精品
                                                    <input type="checkbox" value="新品">新品
                                                    <input type="checkbox" value="热销">热销
                                                </div>
                                            </li>
                                            <li>
                                                <span>上架：</span>
                                                <div class="add-left">
                                                    <p>
                                                        <input type="checkbox" value="精品">打勾表示允许销售，否则不允许销售
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span>能作为普通商品销售：</span>
                                                <div class="add-left">
                                                    <p>
                                                        <input type="checkbox" value="精品">打勾表示允打勾表示能作为普通商品销售，否则只能作为配件或赠品销售。
                                                    </p>
                                                </div>
                                            </li> -->
        <!-- 是否为免运费商品 -->
        <!-- <li>
                                                <span>是否为免运费商品：</span>
                                                <div class="add-left">
                                                    <p>
                                                        <input type="checkbox" value="精品">打勾表示允打勾表示此商品不会产生运费花销，否则按照正常运费计算。
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <span>商品关键词：</span>
                                                <div class="add-left">
                                                    <input type="text">用空格分隔
                                                </div>
                                            </li> -->
        <!-- textarea -->
        <!-- <li>
                                                <span>商品简单描述：</span>
                                                <div class="add-left">
                                                     <textarea name="" id="" cols="30" rows="10"></textarea>
                                                </div>
                                            </li> -->
        <!-- 商家备注： -->
        <!-- <li>
                                                <span>
                                                    <i class="iconfont icon-icon12-copy add-wenhao"></i>
                                                    商家备注：
                                                </span>
                                                <div class="add-left">
                                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                                    <p class="add-show">仅供商家自己看的信息
        </p> -->
        <!-- </div>
                                            </li>
                                            <li>
                                                <div class="btn-box">
                                                    <button class="btn">确定</button>
                                                    <button class="btn">重置</button>
                                                </div>
                                                
                                            </li> -->
        
        <!-- </ul>
                                    </div>
                                </li> -->
        <!-- 商品属性 -->
        <!-- <li class="bable">
                                    <div>
                                        <ul class="add-content-left">
                                            <li>
                                                <span>
                                                    <i class="iconfont icon-icon12-copy add-wenhao"></i>
                                                    商品类型：
                                                </span>
                                                <div class="add-left">
                                                    <select name="" id="">
                                                        <option value=""> 请选择商品的类型</option>
                                                        <option value=""> 服装</option>
                                                        <option value=""> 音乐</option>
                                                    </select>
                                                    <p class="add-show">
                                                        请选择商品的所属类型，进而完善此商品的属性
                                                    </p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="btn-box">
                                                    <button class="btn">确定</button>
                                                    <button class="btn">重置</button>
                                                </div>
                                            
                                            </li>
                                        </ul>
                                    </div>
                                </li> -->
        <!-- 商品相册 -->
        <!-- <li class="bable">
                                    <div class="create">
                                        <div class="add-content-left">
                                            <div>
                                                <a href="javascript:;" class="increase" onclick="">[+]</a>图片描述
                                                <input type="text"> 上传文件
                                                <input type="file">
                                            </div>
                                            <div class="htps">
                                                <input type="text">
                                            </div>
                                        </div>
        
                                    </div>
                                    <div class="btn-box">
                                        <button class="btn">确定</button>
                                        <button class="btn">重置</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div> -->
    <iframe width="400px" height="400px" src=""  id="cd" name="cd"></iframe>
</body>
</html>